.sub a:hover {
  color: #008A94 !important;
}
.index-card-item {

}
.black-line {
  background-color: black;
  width: 100%;
  height: 3px;
  margin: 2px;
}
.black-item {
  float: left;
  width: 20px;
  margin: 0 5px;
}
